@model Department
@{
    ViewData["Title"] = "Details";
}

<h1 class="my-">Department Details</h1>
<div>
    <input asp-for="Id" hidden />

    <div class=" form-group">
        <label asp-for="Code" class="col-form-label"></label>
        <input class="form-control" asp-for="Code" readonly />
    </div>
    <div class=" form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input class="form-control" asp-for="Name" readonly />
    </div>
    <div class=" form-group">
        <label asp-for="DateOfCreation" class="col-form-label"></label>
        <input class="form-control" asp-for="DateOfCreation" readonly />
    </div>

    <div class="my-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</div>

