@model Department
@{
    ViewData["Title"] = "Details";
}

<h1 class="my-">Department Details</h1>
<div>
    <partial name="partialView/DetailsDeleteDepartmentPartial"></partial>
    <div class="my-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</div>

