@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}
<h1 class="my-3">Employee Details</h1>
<partial name="partialView/DetailsDeleteEmployeePartial"></partial>

<div class="my-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>

