@model UserViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1 class="my-3">Are You Sure You Want To Delete This User!?</h1>
<form asp-action="Delete">
    <partial name="partialView/DetailsDeleteUserPartial"></partial>

    <div class="my-3">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </div>
</form>