@model CheckBoxViewModel
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "_AythLayout";
}


        <div class="body">
    <div class="alert alert-success text-center">
        <h3>A password reset link has been sent to your email address.</h3>
        <p>Please check your inbox. If you don't find the email, check your spam folder or <a href="mailto:@Model.Email">send a new request</a>.</p>
    </div>
        </div>
 


