
@{
    ViewData["Title"] = "checkedYourInbox";
    Layout = "~/Views/Shared/_AythLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">

            <div>
                Password Reset Link Has Been Sent To Your Email , Please Check Your Inbox
            </div>
            <div>
                <a href="https://mail.google.com/mail/u/0/#inbox"> Your Inbox</a>
            </div>
        </div>
    </div>
</div>

