@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AythLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ForgetPassword" method="post">
			<div asp-validation-summary="All"></div>
			<input class="text email" type="email" asp-for="Email" placeholder="Email" required="">
			<input type="submit" value="Reset Password">
		</form>
	</div>

</div>
@section ValidateSection
{
	<partial name="_ValidationScriptsPartial"></partial>
}

