@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AythLayout.cshtml";
}
<form id="stripe-login" asp-action="ForgetPassword" method="post">
    <div class="field padding-bottom--24">
        <input class="text email" type="email" asp-for="Email" placeholder="Email" required="">
        <span asp-validation-for="Email" class="text-danger"></span>

        <input type="submit" value="Reset Password">

    </div>

</form>
@section ValidateSection
{
	<partial name="_ValidationScriptsPartial"></partial>
}

