@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AythLayout.cshtml";
}

<form id="stripe-login" asp-action="ForgetPassword" method="post">
    <div class="field padding-bottom--24">
        <label asp-for="Password">Password</label>
        <input class="text " type="password" asp-for="Password" required="">
        <span asp-validation-for="Password" class="text-danger"></span>

    </div>
    <div class="field padding-bottom--24">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input class="text " type="password" asp-for="ConfirmPassword" required="">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    </div>

    <div class="field padding-bottom--24">
        <input type="submit" value="Reset Password">
    </div>


</form>