@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "_AythLayout";
}

<span class="padding-bottom--15">Sign Up to your account</span>
<form id="stripe-login" asp-action="SignUp">
    <div class="field padding-bottom--24">
        <label asp-for="Email">Email</label>
        <input class="text " type="email" asp-for="Email" required="">
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>
    <div class="field padding-bottom--24">
        <label asp-for="Password">Password</label>
        <input class="text " type="password" asp-for="Password" required="">
        <span asp-validation-for="Password" class="text-danger"></span>

    </div>
    <div class="field padding-bottom--24">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input class="text " type="password" asp-for="ConfirmPassword" required="">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    </div>

    <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
        <label for="checkbox">
            <input type="checkbox" asp-for="IsAgree">I Agree To The Terms & Conditions
        </label>
    </div>
    <div class="field padding-bottom--24">
        <input type="submit" value="SignUp">
    </div>
    <div class="field">
        <a class="ssolink" href="#">Use single sign-on (Google) instead</a>
    </div>
</form>
<div class="footer-link padding-top--24">
    <span>Already have an account? <a asp-action="SignIn">Sign In</a></span>

</div>
@section ValidateSection
{
    <partial name="_ValidationScriptsPartial"></partial>
}

